# Visual Studio User Files
*.sdf
*.opensdf
*.suo
*.ipch
*.opendb
*.vc.db
*.vcxproj.user
*.csproj.user
*.tlog

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/Source/CommonLib/Release
/Source/CommonLib/Debug
/Source/CommonLib/x64/Release
/Source/CommonLib/x64/Debug
/Source/Engine/x64
/Source/Engine/Release
/Source/Engine/Debug
/Source/ExternLib/DirectX/DirectXMesh/.vs/DirectXMesh_Desktop_2017/v15
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh_Desktop_2017.log
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog/Lib.command.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog/Lib-link.write.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog/Lib-link.read.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog/DirectXMesh.lastbuildstate
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog/CL.write.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog/CL.read.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog/CL.command.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Debug/DirectXMesh.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh_Desktop_2017.log
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog/Lib.command.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog/Lib-link.write.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog/Lib-link.read.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog/DirectXMesh.lastbuildstate
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog/CL.write.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog/CL.read.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog/CL.command.1.tlog
/Source/ExternLib/DirectX/DirectXMesh/Bin/Desktop_2017/x64/Release/DirectXMesh.tlog
/Source/ExternLib/DirectX/DirectXTex/.vs
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/Win32/Debug/DirectXTex_Desktop_2017_Win10.log
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/Win32/Debug/DirectXTex_D.Build.CppClean.log
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/Win32/Debug/DirectXTex.tlog
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/Win32/Release/DirectXTex_Desktop_2017_Win10.log
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/Win32/Release/DirectXTex.tlog
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/x64/Debug/DirectXTex_Desktop_2017_Win10.log
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/x64/Debug/DirectXTex.tlog
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/x64/Release/DirectXTex_Desktop_2017_Win10.log
/Source/ExternLib/DirectX/DirectXTex/Bin/Desktop_2017_Win10/x64/Release/DirectXTex.tlog
/Source/ExternLib/DirectX/DirectXTK/.vs/DirectXTK_Desktop_2015_Win17/v15
/Source/ExternLib/DirectX/DirectXTK/.vs/DirectXTK_Desktop_2017_Win10/v15
/Source/ExternLib/DirectX/DirectXTK/Bin/Desktop_2017_Win10/Win32/Debug/DirectXTK_Desktop_2015_Win10.log
/Source/ExternLib/DirectX/DirectXTK/Bin/Desktop_2017_Win10/Win32/Debug/DirectXT.E0B52AE7.tlog
/Source/ExternLib/DirectX/DirectXTK/Bin/Desktop_2017_Win10/Win32/Release/DirectXTK_Desktop_2015_Win10.log
/Source/ExternLib/DirectX/DirectXTK/Bin/Desktop_2017_Win10/Win32/Release/DirectXT.E0B52AE7.tlog
/Source/ExternLib/DirectX/DirectXTK/ipch/directxtk_desktop_2013-ec4340ba
/Source/ExternLib/DirectX/DirectXTK/MakeSpriteFont/bin
/Source/ExternLib/DirectX/DirectXTK/XWBTool/bin/Release
/Source/ExternLib/FBXExporter/ExportObjects/x64/Debug_2017/ExportResources.res
/Source/ExternLib/FBXExporter/ExportObjects/x64/Debug_2017/ExportObjects2017.log
/Source/ExternLib/FBXExporter/ExportObjects/x64/Debug_2017/ExportObjects.tlog
/Source/ExternLib/FBXExporter/ExportObjects/x64/Debug_2017/ExportObjects.Build.CppClean.log
/Source/ExternLib/FBXExporter/ExportObjects/x64/Release_2017/ExportResources.res
/Source/ExternLib/FBXExporter/ExportObjects/x64/Release_2017/ExportObjects2017.log
/Source/ExternLib/FBXExporter/ExportObjects/x64/Release_2017/ExportObjects.tlog
/Source/ExternLib/FBXExporter/ExportObjects/x64/Release_2017/ExportObjects.Build.CppClean.log
/Source/ExternLib/FBXExporter/UVAtlas/Bin/Desktop_2017_Win10/x64/Debug/UVAtlas_2017_Win10.log
/Source/ExternLib/FBXExporter/UVAtlas/Bin/Desktop_2017_Win10/x64/Debug/UVAtlas_.10359E70.tlog
/Source/ExternLib/FBXExporter/UVAtlas/Bin/Desktop_2017_Win10/x64/Release/UVAtlas_2017_Win10.log
/Source/ExternLib/FBXExporter/UVAtlas/Bin/Desktop_2017_Win10/x64/Release/UVAtlas_.10359E70.tlog
/Source/ExternLib/FBXExporter/UVAtlas/.vs/UVAtlas_2017_Win10/v15
/Source/ExternLib/FBXExporter/ExportObjects/.vs/ExportObjects2017/v15
/Source/GameObject/x64
/Source/GameObject/Release
/Source/GameObject/Debug
/Source/Graphics/APIs/DirectX11/x64
/Source/Graphics/APIs/DirectX12/x64
/Source/Graphics/APIs/Vulkan/x64
/Source/Graphics/Implement/x64
/Source/Graphics/Implement/Release
/Source/Graphics/Implement/Debug
/Source/Graphics/Interface/x64
/Source/Graphics/Model/x64
/Source/Graphics/Model/Release
/Source/Graphics/Model/Debug
/Source/Input/x64
/Source/Input/Release
/Source/Input/Debug
/Source/LuaSystem/x64
/Source/LuaSystem/Release
/Source/LuaSystem/Debug
/Source/Physics/x64
/Source/Physics/Release
/Source/Physics/Debug
/Source/SoundSystem/x64
/Source/SoundSystem/Release
/Source/SoundSystem/Debug
/Source/Studio/Debug
/Source/Studio/Release
/Source/Studio/x64
/.vs
/Source/ExternLib/DirectX/DirectXTK/MakeSpriteFont/obj
/Source/x64/Debug
/Source/.vs/EastEngine/v15
/Source/x64/Release
/Source/Graphics/Particle/x64/Release
/Source/Graphics/Particle/x64/Debug
/Source/.vs/EastEngine/v16
