# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.idb
*.cache
*.db
*.sdf
/ipch
/Source/ExternLib/DirectXTex/.vs/DirectXTex_Desktop_2015/v15
/Source/ExternLib/TCMalloc/.vs/gperftools/v14
/Source/ExternLib/DirectXTK/ipch/directxtk_desktop_2013-ec4340ba
/.vs/EastEngine
